@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      color: $secondary-color;

      &:hover {
        color: white;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.text-secondary {
  color: $secondary-color;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.portrait-about {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  background: url(../img/portrait.jpg);
  background-size: 170% auto;
  background-position-x: -80px;
  background-position-y: -80px;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.mail-div {
  border: $secondary-color 3px solid;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 60%;
  text-align: center;
  font-size: 20px;

  &:hover {
    @include easeOut;
    background: $secondary-color;
  }
}

.stuff-div {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "stuff1 stuff2";
  grid-template-columns: repeat(3, 1fr);
}

.stuff-1 {
  grid-area: stuff1;
  text-align: center;

  .stuff-1-bg {
    width: 100%;
    //src: "../img/snake.png";
  }
  .stuff-1-label {
    text-align: center;
    font-size: 20px;
  }
}

.stuff {
  padding: 0.5rem;
  height: 240px;
  width: 300px;
  border: $secondary-color 0.5px solid;
}

.screen-to-small {
  visibility: hidden;
}

.snake-div {
  display: grid;
  grid-gap: 420px;
  grid-template-areas: "game" "button";
}

.snakeCanvas {
  grid-area: game;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 4px white;
  background: $secondary-color;
}

.startBtn {
  grid-area: button;
  background-color: $secondary-color;
  border: none;
  width: 10%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  margin: auto;
}

@import "mobile";
